<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>thymeleaf模板引擎</title>
</head>
<body>
hello, <span th:text="${message}"></span>
<div>
    表单提交
    <form th:action="@{/test/hello}">
        <input th:type="text" th:name="id"/>
        <button>提交</button>
    </form>
</div>
<div>
    for-each循环
    <table>
        <tr>
            <td>下标</td>
            <td>编号</td>
            <td>姓名</td>
            <td>住址</td>
        </tr>
        <tr th:each="user,userStat:${users}">
            <td>
                下标:<span th:text="${userStat.index}"></span>,
            </td>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.address}"></td>
        </tr>
    </table>
</div>
<div>
    map输出
    <div th:each="map,mapStat:${dataMap}">
        <div th:text="${map}"></div>
        key:<span th:text="${mapStat.current.key}"></span><br/>
        value:<span th:text="${mapStat.current.value}"></span><br/>
        ==============================================
    </div>
</div>
<div>
    数组输出
    <div th:each="nm,nmStat:${names}">
        <span th:text="${nmStat.count}"></span><span th:text="${nm}"></span>
        ==============================================
    </div>
</div>
<div>
    日期输出
    <span th:text="${#dates.format(now,'yyyy-MM-dd hh:ss:mm')}"></span>
</div>
<div>
    if判断
    <span th:if="${(age>=18)}">终于长大了！</span>
</div>
包含th:include
<div id="A" th:include="footer::copy">

</div>
</body>
</html>